<html>
<head>
  <title>{{ title }}</title>
  
</head>
<body style="font-family: Arial, sans-serif;">
  <h2 style="text-align: center;">{{ title }}</h2>
  <table style="border-collapse: collapse;width: 80%;margin: 20px auto;">
    <tr>
      <th style="border: 1px solid #dddddd;text-align: left;padding: 8px;background-color: #4CAF50;color: white;">Username</th>
      <th style="border: 1px solid #dddddd;text-align: left;padding: 8px;background-color: #4CAF50;color: white;">UID</th>
      <th style="border: 1px solid #dddddd;text-align: left;padding: 8px;background-color: #4CAF50;color: white;">GID</th>
      <th style="border: 1px solid #dddddd;text-align: left;padding: 8px;background-color: #4CAF50;color: white;">Full Name</th>
      <th style="border: 1px solid #dddddd;text-align: left;padding: 8px;background-color: #4CAF50;color: white;">Home</th>
      <th style="border: 1px solid #dddddd;text-align: left;padding: 8px;background-color: #4CAF50;color: white;">Shell</th>
    </tr>
    {% for username, details in users.items() %}
      {% if details[1]|int >= 1000 %}
    <tr>
      <td style="border: 1px solid #dddddd;text-align: left;padding: 8px;">{{ username }}</td>
      <td style="border: 1px solid #dddddd;text-align: left;padding: 8px;">{{ details[1] }}</td>
      <td style="border: 1px solid #dddddd;text-align: left;padding: 8px;">{{ details[2] }}</td>
      <td style="border: 1px solid #dddddd;text-align: left;padding: 8px;">{{ details[3] }}</td>
      <td style="border: 1px solid #dddddd;text-align: left;padding: 8px;">{{ details[4] }}</td>
      <td style="border: 1px solid #dddddd;text-align: left;padding: 8px;">{{ details[5] }}</td>
    </tr>
      {% endif %}
    {% endfor %}
  </table>
</body>
</html>

