<table border="1" cellpadding="8" style="border-collapse: collapse;">
  <tr style="background-color:#4CAF50; color:white;">
    <td>Username</td>
    <td>UID</td>
  </tr>
  <tr style="background-color:#f2f2f2;">
    <td>devops</td>
    <td>1001</td>
  </tr>
</table>

